---
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Faqs as Props } from '~/types';

const {
  title = '',
  subtitle = '',
  tagline = '',
  items = [],

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<div class="max-w-5xl mx-auto rounded-3xl p-0" style="background-color: rgba(22, 17, 68, 0.5);">
  <WidgetWrapper
    id={id}
    isDark={isDark}
    containerClass={`rounded-3xl p-8 shadow-md mx-auto ${classes?.container ?? ''}`}
    bg={bg}
  >
    <Headline title={title} subtitle={subtitle} tagline={tagline} />
    <div class="space-y-6">
      {
        items.map((item) => (
          <div x-data="{ open: false }" class="border-b pb-4">
            <button
              type="button"
              class="w-full text-left text-lg font-semibold flex justify-between items-center"
              x-on:click="open = !open"
            >
              {item.title}
              <svg
                x-bind:class="open ? 'rotate-90' : ''"
                class="w-4 h-4 ml-2 transition-transform duration-200"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
              </svg>
            </button>
            <div x-show="open" x-transition class="mt-2 text-muted dark:text-slate-400">
              <p set:html={item.description} />
            </div>
          </div>
        ))
      }
    </div>
  </WidgetWrapper>
</div>
