---
import Image from '~/components/common/Image.astro';
import Button from '~/components/ui/Button.astro';

import type { Hero as Props } from '~/types';

const {
  // title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  //tagline,

  content = await Astro.slots.render('content'),
  actions = await Astro.slots.render('actions'),
  image = await Astro.slots.render('image'),

  id,
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<section class="relative md:-mt-[76px] not-prose" {...id ? { id } : {}}>
  <div class="relative mt-20 mx-auto w-full max-w-7xl flex flex-col items-center">
    <div class="relative w-[100%] h-auto">
      <slot name="bg">{bg ? <Fragment set:html={bg} /> : null}</slot>
    </div>
  </div>
  <div class="mt-[-100px] relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="pt-2 md:pt-2 md:pb-4">
      <div class="text-center">
        {}
        {}
        <div class="text-center div class=max-w-5xl mx-auto mt-0 pb-2 md:pb-2">
          {
            subtitle && (
              <p
                class="text-xl intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
                set:html={subtitle}
              />
            )
          }
          {
            actions && (
              <div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4 mb-24 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
                {Array.isArray(actions) ? (
                  actions.map((action) => (
                    <div class="flex w-full sm:w-auto">
                      <Button
                        {...(action || {})}
                        class="bg-rose-50 text-rose-300 border-0 hover:bg-rose-200 hover:text-white w-full sm:mb-0"
                      />
                    </div>
                  ))
                ) : (
                  <Fragment set:html={actions} />
                )}
              </div>
            )
          }
        </div>
        {content && <Fragment set:html={content} />}
      </div>
      <div
        class="intersect-once intercept-no-queue intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
      >
        {
          image && (
            <div class="relative m-auto max-w-5xl">
              {typeof image === 'string' ? (
                <Fragment set:html={image} />
              ) : (
                <Image
                  class="mx-auto rounded-md w-full"
                  widths={[400, 768, 1024, 2040]}
                  sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
                  loading="eager"
                  width={200}
                  height={200}
                  {...image}
                />
              )}
            </div>
          )
        }
      </div>
    </div>
  </div>
</section>
