---
import { Icon } from 'astro-icon/components';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import type { Steps as Props } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  items = [],

  id,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<div class="max-w-5xl mx-auto rounded-3xl p-0" style="background-color: rgba(22, 17, 68, 0.5);">
  <WidgetWrapper
    id={id}
    containerClass={`rounded-3xl p-8 shadow-md mx-auto ${classes?.container ?? ''}`}
    bg={bg}
  >
    <Headline
      title={title}
      subtitle={subtitle}
      tagline={tagline}
      classes={{
        container: 'text-left mb-8',
        title: 'mb-4 text-3xl font-bold font-heading',
        subtitle: 'mb-6 text-xl text-muted dark:text-slate-400 max-w-prose',
      }}
    />

    <ul class="space-y-6 max-w-prose">
      {
        items && items.length
          ? items.map(({ title: title2, description, icon }, index) => (
              <li class="flex items-start gap-4">
                <span class="flex w-12 h-12 items-center justify-center text-xl font-bold rounded-full bg-blue-100 text-primary flex-shrink-0">
                  {icon ? <Icon name={icon} class="w-5 h-5 icon-bold" /> : index + 1}
                </span>
                <div>
                  <h3 class="mb-1 text-lg font-semibold font-heading" set:html={title2} />
                  <p class="text-muted dark:text-gray-400" set:html={description} />
                </div>
              </li>
            ))
          : null
      }
    </ul>
  </WidgetWrapper>
</div>
